
html {
  --body-background-color: hsl(0, 0%, 95%);
  --body-text-color: hsl(0, 0%, 20%);
  --link-color: rgb(0, 110, 200);
  --header-text-color: hsl(0, 0%, 40%);
  --secondary-background-color: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: dark) {
  html {
    --body-background-color: hsl(0, 0%, 20%);
    --body-text-color: hsl(0, 0%, 80%);
    --link-color: rgb(100, 210, 255);
    --header-text-color: hsl(0, 0%, 60%);
    --secondary-background-color: hsl(0, 0%, 30%);
  }
}

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
}

table {
  color: var(--body-text-color);
}

table tr:nth-child(even) {
  background-color: var(--secondary-background-color);
}

a {
  color: var(--link-color);
}

.site-title, .site-title:visited {
  color: var(--header-text-color);
}

.site-nav .page-link {
  color: var(--header-text-color);
}
